{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Edit User Information{% endblock %}

{% block content %}
  <h2>Edit</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form user_edit_form %}
    {% bootstrap_form profile_edit_form %}
    <div style="text-align: center;">
      <button type="submit" class="btn btn-outline-primary">Save</button>
      <a role="button" href="{% url 'profile' user_id=user.pk %}" class="btn btn-outline-primary">Cancel</a>
    </div>
  </form>
<br><br><br><br>
{% endblock %}
